#masternudge
{
  position:absolute;
  left: 500px
}

#map
 {
  height: 38%;
  width: 38%;
  height: 48.5vh;
}

#logoimg {
  width: 38%;
  height: 38%;
  left: 500px;
}

#MapFooterimg
{
  width:38%;
  height:38%;
  z-index:2;
    margin: auto;

}